<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar_robot">
  <xacro:arg name="gpu" default="false" />

  <xacro:property name="gpu" value="$(arg gpu)" />
  <!-- Base Footprint -->
  <link name="navigation_planform_link" />
  <!-- LIDAR -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
  <xacro:VLP-16 parent="navigation_planform_link" name="velodyne" topic="/velodyne_points" hz="10"
    samples="1875" gpu="${gpu}" min_range="0.4" max_range="100" noise="0.008">
    <origin xyz="0 0 0.3" rpy="0 0 0" />
  </xacro:VLP-16>

</robot>