<launch>
    <!-- Start gazebo and load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find stairs_sim)/world/empty.world" />
    </include>

    <!-- Spawn dummy robot -->
    <param name="robot_description"
        command="$(find xacro)/xacro $(find robot_sim_gazebo)/sensor/navigation_platform.xacro gpu:=true lidar:=true camera:=true imu:=true gps:=true" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
        args="-urdf -param /robot_description -model lidar_robot" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- RViz -->
    <arg name="rviz" default="true" />
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="$(anon rviz)" respawn="false"
        output="screen" args="-d $(find robot_sim_gazebo)/rviz/minimal.rviz" />
</launch>